* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
  background-size: cover;
}
.order-section {
  display: flex;
}

@media screen and (max-width: 576px) {
  .order-section {
    display: flex;
    flex-direction: column;
  }
  .app-container {
    padding-left: 3%;
    padding-right: 3%;
    height: 100vh;
    background-size: cover;
  }
}
